.arbre {
    margin-bottom: 2vh;
}

.panel {
    margin: 2vh auto 2vh auto;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    width: 80vw;
}

.liste {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.category {
    font-weight: bold;
    display: block;
    padding: 2vh;
    margin-top: 2vh;
    width: 24vw;
    height: 7vh;
    margin: 1vh;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #ea622a;
    font-size: 1.5rem;
    vertical-align: center;
    min-width: 230px;
}

.subject {
    font-weight: bold;
    display: block;
    padding: 2vh;
    margin-top: 2vh;
    width: 48vw;
    height: 7vh;
    margin: 1vh;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #ea622a;
    font-size: 1.5rem;
    vertical-align: center;
    min-width: 400px;
}

.category:hover{
    opacity: 70%;
}

.subject:hover{
    opacity: 70%;
}

.message {
    text-align: left;
    padding: 2vh 25vh 2vh 2vh;
    margin-top: 2vh;
}

.message:first-child{
    background-color: #d7d7d7;
    border: gainsboro 1px solid;
    font-size: x-large;
    margin-bottom: 2vh;
}
.message:last-child{
    background-color: #e3e3e3;
    border: gainsboro 1px solid;
}

.reponse {
    text-align: left;
    padding: 2vh 25vh 2vh 2vh;
    background-color: #e6e6e6;
    border: lightslategrey 1px solid;
}

.button {
    margin: 2vh;
    padding: 1vh;
    border: #b64901 solid 2px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    color: black;
    width: 10vw;
    font-weight: bold;
    background-color: #f89461;
    min-width: 80px;
}
.button a{
    font-size: 2vh;
    color: #505050;
    text-transform: uppercase;
}

.nocontent {
    list-style-type: none;
    margin-top: 30vh;
    font-size: xx-large;
    font-weight: bold;
    color: lightslategrey;
}
